# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp
*~

# Configuração específica do utilizador
/.settings/
/.classpath
/.project

# Sonar / Jacoco
/.scannerwork/
/jacoco.exec
